# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules
.pnp
.pnp.js

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# DB
fileown-dev.db
packages/db/database.db
packages/db/openstatus.db
packages/db/fileown-dev.db-wal
packages/db/fileown-dev.db-shm
packages/db/fileown-dev.db-shm
packages/db/fileown-dev.db-wal
fileown-dev.db-wal
fileown-dev.db
fileown-dev.db-shm

# Testing
coverage

# Drizzle
packages/db/drizzle/*
packages/db/drizzle/meta/*

# Turbo
.turbo

# Vercel
.vercel

# Build Outputs
.next/
out/
build
dist


# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.DS_Store
*.pem
